version: "3.9"
    
services:
  db:
    platform: linux/x86_64
    image: mysql:5.7
    restart: always
    ports:
     - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: payments
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
  exporter:
    depends_on: 
     - db
    platform: linux/x86_64
    build: 
      context: .
    restart: always
    ports:
     - 8090:8090
    environment:
      MYSQL_USERNAME: user
      MYSQL_USERNAME: pass
      MYSQL_ADDR: db
      MYSQL_DB: payments
      MYSQL_PORT: 3306 
